<!DOCTYPE html>
<html>
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css"/>


</head>
<body >
<div class="main-content">
    {{>header}}


    <article class="widget">
        <form class="weatherLocation"><input class="ph" placeholder="Location." type = "text"/><button class="button">Seach</button>
        </form>
        <div class="weatherIcon"><i class="wi wi-cloud"></i></div>
        <div class="weatherInfo">
            <div class="temperature"><span></span></div>
            <div class="description">
                <div class="weatherCondition"></div>
                <div class="place"></div>
            </div>
        </div>
        <div class="date"></div>
    </article>


</div>

<footer class="Footer" align="center"><h5>
    <div class="footer-copywright">WeatherApplication <a href="https://github.com/han-zyx">©HansakaTennakoon</a></div>
</h5>
</footer>



<script src="js/app_fr.js"></script>
</body>
</html>